*{
    /*padding 跟margin設定全域零距離*/
    padding:0;
    margin:0;
    box-sizing:border-box;
	font-family:"Noto Sans TC", sans-serif;

}
html,body{
	height:100%;
	margin:0;
}
.wrapper{
	min-height: calc(100% - 104px);
}

.navigation{
	/* justify-content:center;
    align-items:center; */
	width:auto;
	height:54px;
	background-color: #FFFFFF;
	position:sticky;
	padding:15px 0px 0px 0px;
	z-index: 1000;
}

.title{
	flex:none;
	display:flex;
	justify-content: space-between;
    align-items:center;
	width:1200px;
	height:34px;
	font-size:30px;
	font-weight:bolder;
	color:#448899;
	line-height:30px;
	margin:0 auto;
}
.home:hover{
	cursor:pointer;
	text-decoration: underline; /* 可選：停下时有下畫線效果 */
}
.index_Btn{
	flex:none;
	display:flex;
	justify-content:center;
	align-items:center;
}
.Btn{
	flex:none;
	font-weight:500;
	font-size:16px;
	height:34px;
	padding:5px;
	color:#666666;
	border:none;
	background:none;
	font-weight: bold;
	line-height:13.3px;
}
button.Btn:hover {
	cursor: pointer;
    text-decoration: underline; /* 可選：停下时有下畫線效果 */
}

.hero_section{
	display:flex;
	justify-content:center;
    align-items:center;
	width:1920px;
	height:320px;
	background:url(image/welcome.png),linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);;
	background-size:cover;
	background-repeat:no-repeat;

}
.slogan{
	width:1200px;
	height:169px;
	padding:10px;
	gap:10px;
	margin:0 auto;
}
.h1_Titles{
	color:rgba(248, 248, 248, 1);
	font-size:28px;
	Line-height:24px;
	font-weight:bolder;

}
.h3_Titles{
	color:rgba(248, 248, 248, 1);
	font-size:16px;
	font-weight:bold;
	Line-height:13.3px;
	margin-top: 30px;
}
.search_bar{
	display: flex;
	margin-top:30px;
	width:460px;
	height:46px;
}
.search_bar_input{
	flex:none;
	color:rgba(117, 117, 117, 1);
	width:400px;
	height:46px;
	font-size:16px;
	font-weight:bold;
	border:none;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px rgba(170, 187, 204, 1);
	padding:15px 0px 15px 15px;
}
img#searchBtn:hover{
	cursor: pointer;
}

.main{
	position: relative;
	width:1920px;
	height:966px;
	padding:40px 0px;
	margin:0 auto;
}
.list_bar{
	position:relative;
	display:flex;
	width:1200px;
	justify-content: center;
	padding:0px 0px 20px 0px;
	margin:0 auto;
}

.left_container{
	flex:none;
	width: 62px;
	height: 50px;
	position:absolute;
	left:0;
	padding: 9px 15px;
	gap: 0px;
	cursor: pointer;
	text-align: center;
	z-index: 2;
}
.right_container{
	flex:none;
	width: 62px;
	height: 50px;
	position:absolute;
	right:0;
	padding: 9px 15px;
	gap: 0px;
	cursor: pointer;
	text-align: center;
	z-index: 2;
}
.arrow{
	opacity: 0.50;
	background-size: cover;
}
img.arrow:hover{
	opacity: 1.0;
}

.list_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width:calc(100% - 124px);
	overflow: hidden;
}

.list_container{
	flex:none;
	display:flex;
	align-items: center;
	height:50px;
	width:100%;
	padding:13px 0;
	margin:0 10px;
	transition: transform 0.3s ease-in-out; /* 控制水平滑動 */
}

.list_items{
	flex:none;
	width: auto;
	height: 24px;
	padding: 5px 15px;
	gap: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;
	text-align: center;
	color: rgba(102, 102, 102, 1);
}
div.list_items:hover{
	cursor: pointer;
	color: rgba(0, 0, 0, 1);
}

/* for attactions */
.attractions{
	display:grid;
	width: 1200px;
	grid-template-columns: repeat(4,1fr);
	height: 816px;
	padding: 15px 15px;
	margin:0 auto;
	gap:30px;
}
.att{
	position: relative;
	width: 270px;
	height: 242px;
	gap: 0px;
	border-radius: 5px 5px 5px 5px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(232, 232, 232, 1);
	text-align: center;
	display: flex;
	justify-content: center;
}
.img{
	width:100%;
	height: 197px;
	background: rgba(196, 196, 196, 1);
	border-radius: 5px 5px 5px 5px;
	object-fit: cover;
	cursor: pointer;
}
.img:hover{
	opacity: 50%;
}
/* .mask{
	position: absolute;
	width: 270px;
	height: 197px;
	top:0;
	border-radius: 5px 5px 5px 5px;
} */
.attName{
	position:absolute;
	width: 100%;
	height: 40px;
	top: 157px;
	gap: 4px;
	font-size: 16px;
	font-weight: 700;
	padding:10px 0 0 10px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.6);
	white-space: nowrap; /*本文不換行*/
    overflow: hidden; /*隐藏溢出部分*/
    text-overflow: ellipsis;/* 显示省略*/
}
.attMrtCategory{
	position:absolute;
	display:flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 45px;
	top: 197px;
	padding: 10px 0px 0px 0px;
	opacity: 0px;
}
.attInfo{
	position:relative;
	left:0px;
	width: 50%;
	height: 25px;
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;
	text-align: left;
	padding:0 10px;
	color: rgba(117, 117, 117, 1);
	white-space: nowrap; /*本文不換行*/
}
.category{
	text-align: right;
}

/* for footer */
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 104px;
	margin:40px 0px 0 0px;
	gap: 0px;
	background: rgba(117, 117, 117, 1);
}
.footer_text{
	width: 238px;
	height: 14px;
	top: 5px;
	padding: 5px 0px 5px 0px;
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}
/* attraction.html--------------------- */
.separator{
	width:100%;
	height: 0px;
	border: 1px solid rgba(232, 232, 232, 1);
}
.section{
	display:flex;
	margin: 0 auto;
	width: 1200px;
	height: 440px;
	padding:40px 15px;
	justify-content: space-between;
}
.picture_current{
	flex:none;
	width: 540px;
	height: 400px;
	left: 15px;
	gap: 0px;
	border-radius: 5px ;
	background-color: #337788;
	object-fit: cover;
}
.profile{
	flex:none;
	position: relative;
	width: 600px;
	height: 400px;
	margin-left: 30px;
}
.bookingForm{
	position:absolute;
	width: 600px;
	height: 302px;
	top: 90px;
	gap: 0px;
	border-radius: 5px;
	background: rgba(232, 232, 232, 1);
}
.h3_attName{
	position:absolute;
	width: 100%;
	height: 33px;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
}
.text_category_mrt{
	position:absolute;
	width: 100%;
	height: 22px;
	top: 48px;
	font-size: 16px;
	font-weight: 400;
	line-height: 13.3px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
}
.title_booking{
	position:absolute;
	width: 95%;
	height: 22px;
	top: 15px;
	left: 20px;
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
}
.text_explain{
	position:absolute;
	width: 95%;
	height: 24px;
	top: 52px;
	left: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
	padding-right:15px;
}
.field_date{
	display: flex;
	align-items: center;
	position: relative;
	width: 95%;
	height: 35px;
	top: 100px;
	left: 20px;
}
.field_time{
	display:flex;
	align-items: center;
	position: absolute;
	width: 95%;
	height: 22px;
	top: 141px;
	left: 20px;
}
.field_price{
	display: flex;
	position:absolute;
	width: 95%;
	height: 22px;
	top: 178px;
	left: 20px;
}

.text_field{
	flex:none;
	width: 81px;
	height: 17px;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	line-height: 20px;
	color: rgba(102, 102, 102, 1);
}
.input_date{
	position:absolute;
	width: 193px;
	height: 35px;
	left: 86px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	color: rgba(0, 0, 0, 1);
}
.radioBtn{
	flex:none;
	display: block;
	position: relative;
	width: 87px;
	height: 22px;
	padding: 0px 8px 0px 30px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	color: rgba(102, 102, 102, 1);
	cursor:pointer;
	user-select: none;
}
/* 客製radio 長相 */
.radioBtn input{
    position:absolute;
	opacity:0;
	cursor:pointer;
}
.checkmark{
	position: absolute;
	top:0;
	left: 0;
	width:22px;
	height: 22px;
	border-radius: 50%;
	display: inline-block;
	background-color: rgba(255, 255, 255, 1);
	margin:0 2px;
}
.radioBtn:hover input ~.checkmark{ /*滑鼠經過→按鈕反灰*/
	background-color: #ccc;
}
.radioBtn input:checked ~.checkmark{ /*滑鼠點按鈕選取的css*/
	background-color: rgba(255, 255, 255, 1);
}
.radioBtn .checkmark::after{ /*按鈕內圈的css*/
	top:2px;
	left:2px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: rgba(68, 136, 153, 1);
}
.checkmark::after{ /*未選取時按鈕內圈隱藏*/
	content:"";
	position: absolute;
	display: none;
}
.radioBtn input:checked ~ .checkmark:after{ /*選取時圓內圈出現*/
	display:block;
}
.price{
	flex:none;
	position: relative;
	width: 108px;
	height: 14px;
	top: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 13.3px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
}
.forBooking{
	position: absolute;
	width: 154px;
	height: 36px;
	top: 225px;
	left: 20px;
	border-radius: 5px;
	border:none;
	background: rgba(68, 136, 153, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 19px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}
.sectionInfo{
	width: 1200px;
	height: 400px;
	top: 94px;
	left: 360px;
	padding: 20px 15px;
	margin:0 auto;

}

.info, .address, .transport{
	font-size: 16px;
	font-weight: 700;
	line-height: 13.3px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
	padding:20px 0;
}

.detail{
	width:calc(100% - 20px);
	font-size: 16px;
	font-weight: 400;
	line-height: 23.17px;
	text-align: left;
	color: rgba(102, 102, 102, 1);
	margin:auto;
	padding-top:10px;
}



/* 視窗大小調整區 */
@media(max-width:1920px){
	.attractions{
	height: 100%;
	}
	.hero_section{
		width: 100%;
	}
	.navigation{
		width: 100%;
	}
	.main{
		flex-wrap: wrap;
		height: 100%;
		width: 90%;
	}
	.att{
		width: 100%;
	}

}

@media(max-width:1250px){
	.title{
		width: 90%;
	}
		.slogan{
		width:90%;
	}
	.search_bar{
		width:100%;
	}
	
	.search_bar_input{
		width:300px;
	}
	.list_bar{
		width: 100%;
	}
	.attractions{
		flex-wrap: wrap;
		display:grid;
		width: 100%;
		grid-template-columns: repeat(2,1fr);
		padding: 15px;
	}
	.att {
		width:100%;
	}
	.section {
		width: 100%;
		height: 100%;;
	}

	.picture_current{
		width: 50%;
	}
	.profile{
		width: calc(50% - 15px);
	}
	.bookingForm{
		width: calc(100% - 15px);
	}
	.sectionInfo, .detail{
		width:100%;
		height: 100%;
	}

}
@media(max-width:750px){

	.section{
		display:block;
		height: 100%;
		padding:0;
	}
	.picture_current{
		width:100%;
		height: 350px;
		margin:0;
	}
	.profile{
		width:calc(100% - 30px);
		margin:20px auto;
	}

}

@media(max-width:450px){
	.title{
		width: 100%;
		padding:0 10px;
	}
	.search_bar_input{
		width:auto;
	}
	.attractions{
		display:grid;
		width: 100%;
		grid-template-columns: 1fr;
	}

}



/* for dialog css */
.dialog{
	display:none;
	position:absolute;
	width: 340px;
	top: 80px;
	left: 790px;
	gap: 0px;
	border-radius: 6px 6px 6px 6px;
	opacity: 0px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 60px 0px rgba(170, 170, 170, 1);
}

.frame_signin{
	height: 275px;
}
.frame_signup{
	height: 332px;
}

.decorator_bar{
	width: 340px;
	height: 10px;
	gap: 0px;
	opacity: 0px;
	background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.close_frame{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 20px;
	left: 300px;
}
.close_icon{
	position: relative;
	width: 16px;
	height: 16px;
	top: 7px;
	left: 7px;
	gap: 0px;	
}
.main_dialog{
	position:absolute;
	width: 310px;
	top: 25px;
	left: 15px;
	gap: 0px;
}
.main_signin{
	height: 235px;
}
.main_signup{
	height: 292px;
}

.h3_dialog{
width: 310px;
height: 27px;
font-size: 24px;
font-weight: 700;
line-height: 24px;
text-align: center;
color: rgba(102, 102, 102, 1);
}
.input_frame{
	font-size: 16px;
	font-weight: 500;
	line-height: 13.3px;
	text-align: left;
	font-weight: 700;
	color: rgba(117, 117, 117, 1);
	width: 310px;
	height: 47px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid rgba(204, 204, 204, 1);
	padding:15px 15px 15px 15px;

}
.s1{
	position:absolute;
	top:42px;
}
.s2{
	position:absolute;
	top:99px;
}
.s3{
	position:absolute;
	top:156px;
}
.btn_dialog{
	width: 310px;
	height: 47px;
	padding: 10px 20px 10px 20px;
	border:none;
	border-radius: 5px 5px 5px 5px;
	font-size: 19px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background: rgba(68, 136, 153, 1);
}
.b1{
	position:absolute;
	top: 156px;
}
.b2{
	position:absolute;
	top: 213px;
}

.text_frame{
	width: 310px;
	height: 22px;
	gap:0;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: rgba(102, 102, 102, 1);
}
.t1{
	position:absolute;
	top: 213px;
}
.t2{
	position:absolute;
	top: 270px;
}
.dialog_mask{
	display:none;
	position:absolute;
	top:0px;
	width: 1920px;
	height: 1444px;
	gap: 0px;
	opacity: 25%;
	background: rgba(0, 0, 0, 1);
}

